@import "~bootstrap/scss/bootstrap.scss";

.bigCounter {
    text-align: center;
    background: black;
   
}

.bigCounter div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 25%;
}
.six, .five, .four, .three, .two, .one {
 background-color: rgb(31, 30, 30);
 border: 1px solid gray;
 }
 
i{
border: 1px solid gray;
border-radius: 25%;
 }